@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* :root */
:root {
  --primary-color: #93c5fd;
  --secondary-color: #d0cde1;
  --off-white: #f3f4f6;
}

/* body */
body {
  font-family: "Montserrat", sans-serif;
  max-width: 90%;
  margin: auto;
}
hr {
  margin: 2rem 0;
}

/* container */
.container {
  padding: 0 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}

/* links */
.link {
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: black;
}
.link-primary {
  background-color: var(--primary-color);
}
.link-secondary {
  border: 1.5px solid var(--primary-color);
}

/* lists */
.list-non-bullet {
  padding-inline-start: 0;
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0 0.5rem;
}

/* nav */
.navigation {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}
.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .link {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.navigation .link-active {
  color: var(--off-white);
  font-weight: 800;
}

/* header */
.hero {
  padding: 2rem;
  margin: 2rem 0 0 0;
}
.hero .hero-img {
  max-width: 80%;
  width: 350px;
  display: block;
  margin: auto;
}
.hero .hero-heading {
  text-align: center;
  padding-top: 2rem;
  color: var(--secondary-color);
}

/* section */
.section {
  padding: 2rem 0;
  margin: 1rem 0;
  text-align: center;
}
.section-ow {
  background-color: var(--off-white);
  border-radius: 1rem;
}
.section h1 {
  text-align: center;
  margin-bottom: 0.2rem;
}
.section .link {
  display: inline-block;
  margin: 0.5rem;
}

/* footer */
.footer {
  background-color: var(--primary-color);
  padding: 2rem 0;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}
.footer .social-links {
  padding-inline-start: 0;
}
.footer .footer-header {
  font-weight: bold;
}
